body {
  padding-top: 5rem;
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

button label{
    border: 0px;
    width: 100%;
    height: 1em;
}

.form-group{
    display: none;
}
.alert{
    display: none;
}
