zbody {
  padding-top: 5rem;
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}
/*--- navigation bar ---*/
.navbar {
  background: #228b23;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: #228b23;
  border: none;
}
.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}
.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}
